apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: myapp
        image: harshita7004/myapp:7cd4b01f1881ba5e80b94971024c7f8973440585
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
